<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div th:replace="~{layout::daublog}"></div>
<body>
<p> Information
</p>
<div id="form">
    <form action="#" th:action="@{/view}" th:object="${blogentitys}" method="get" novalidate="novalidate">
        <fieldset>
            <legend>Blog</legend>

            <div>
                <input type="hidden" th:field="*{id}"/>
                <label>Name</label>
                <input type="text" th:field="*{nameBlog}">
                <br><br>
                <label>Descrribe</label>
                <input type="text" th:field="*{describe_blog}">
                <br><br>
                <label>UseBolog</label>
                <textarea  type="text" th:field="*{use_blog}"></textarea>

                <br><br>
                <label>Lock Day</label>
                <input type="date" th:field="*{dateOfManufacture}">

                <br>
                <br>
                <span>img</span>

                <div>   <img style="width: 50px;height: 50px" th:src="'/'+${blogentitys.getImg_blog()}" alt=""> </div>
            </div>
            <!--            <input type="submit" value="xóa">-->
        </fieldset>


    </form>
</div>


</body>
</html>